<html>
  <head>
    <style>
      h1 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 200px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 245px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1><%= baby_yet %></h1>
  </body>
</html>
